body {
    padding: 30px;
    background-color: #FFF1B8;
}
.navbar{ 
    background-image: none;
}

.navbar-default {
    background-color: #FDC167;      
}

.jumbotron {
    background-color: #ffefa0;
}

.my {
    background-color: rgb(255, 241, 184);
    margin-right: 5pt;
}

.rightColumn {
    background-color: rgb(250, 245, 225);
    margin-left: 5pt;
}

.navbar-brand>img {
height: 100%;
width: auto;
}

.my-row {
    display: table;
}

.panel {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding-bottom: 10pt;
}