body {
    padding: 30px;
    background-color: #FFF1B8;
}
.navbar{ 
    background-image: none;
}

.navbar-default {
    background-color: rgb(253, 202, 135);      
}

.jumbotron {
    background-color: #ffefa0;
}

.my {
    background-color: #FFF1B8;
}

.img-responsive {
    margin-bottom: 10px;
}